.Grid__root {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  /* margin: 0 -5px; */
}

.Grid__cell {
  display: flex;
  flex-direction: column;
  margin: 0 5px 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .Grid__stack_mobile .Grid__cell {
    max-width: 100%;
    width: 100%;
  }

  .Grid__cell__mobile__padding__1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Grid__cell__mobile__padding__2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Grid__cell__mobile__padding__3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Grid__mobileColumnOne {
    max-width: calc(100% - 10px);
  }

  .Grid__mobileColumnTwo {
    max-width: calc(50% - 10px);
  }

  .Grid__mobileColumnThree {
    max-width: calc(33.33% - 10px);
  }

  .Grid__mobileColumnFour {
    max-width: calc(25% - 10px);
  }

  .Grid__mobileColumnFive {
    max-width: calc(20% - 10px);
  }

  .Grid__mobileColumnSix {
    max-width: calc(16.666% - 10px);
  }
}

@media (min-width: 768px) {
  .Grid__cell__tablet__padding__1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Grid__cell__tablet__padding__2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Grid__cell__tablet__padding__3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Grid__tabletColumnOne {
    max-width: calc(100% - 10px);
  }

  .Grid__tabletColumnTwo {
    max-width: calc(50% - 10px);
  }

  .Grid__tabletColumnThree {
    max-width: calc(33.33% - 10px);
  }

  .Grid__tabletColumnFour {
    max-width: calc(25% - 10px);
  }

  .Grid__tabletColumnFive {
    max-width: calc(20% - 10px);
  }

  .Grid__tabletColumnSix {
    max-width: calc(16.666% - 10px);
  }
}

@media (max-width: 1000px) {
  .Grid__stack_tablet .Grid__cell {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .Grid__cell__desktop__padding__1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Grid__cell__desktop__padding__2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Grid__cell__desktop__padding__3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Grid__desktopColumnOne {
    max-width: calc(100% - 10px);
  }

  .Grid__desktopColumnTwo {
    max-width: calc(50% - 10px);
  }

  .Grid__desktopColumnThree {
    max-width: calc(33.33% - 10px);
  }

  .Grid__desktopColumnFour {
    max-width: calc(25% - 10px);
  }

  .Grid__desktopColumnFive {
    max-width: calc(20% - 10px);
  }

  .Grid__desktopColumnSix {
    max-width: calc(16.666% - 10px);
  }
}
