.Grid__root {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  /* margin: 0 -5px; */
}

.Grid__cell {
  display: flex;
  flex-direction: column;
  margin: 0 5px 10px;
  width: 100%;
}

.Grid__column1 {
  max-width: calc(100% - 10px);
}

.Grid__column2 {
  max-width: calc(50% - 10px);
}

.Grid__column3 {
  max-width: calc(33.33% - 10px);
}

.Grid__column4 {
  max-width: calc(25% - 10px);
}

.Grid__cell__mobile__padding__1 {
  padding-left: 10px;
  padding-right: 10px;
}

.Grid__cell__mobile__padding__2 {
  padding-left: 20px;
  padding-right: 20px;
}

.Grid__cell__mobile__padding__3 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 768px ) {
  .Grid__stack_mobile .Grid__cell {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .Grid__cell__tablet__padding__1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Grid__cell__tablet__padding__2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Grid__cell__tablet__padding__3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1000px ) {
  .Grid__stack_tablet .Grid__cell {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .Grid__cell__desktop__padding__1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Grid__cell__desktop__padding__2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Grid__cell__desktop__padding__3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
