.Navigation__root {
  box-sizing: border-box;
  height: 100px;
  padding: 10px 0;
  top: 0;
  width: 100%;
}

.Navigation__container {
  background: #f7f7f7;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.Navigation__mobile-menu {
  background: #f7f7f7;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.Navigation__mobile-menu .Navigation__links {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Navigation__logo {
  margin: 0;
  width: auto;
  height: 110%;
  margin-bottom: -20px;
}

.Navigation__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
}

.Navigation__menu {
  align-self: center;
  position: relative;
  z-index: 1001;
}

.Navigation__menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 20px;
  margin: 0;
}

.Navigation__link {
  border-bottom: 1px solid #6f6f6f;
  list-style: none;
  width: 250px;
}

.Navigation__link-anchor,
.Subnavigation__link-anchor {
  color: #6f6f6f;
  transition: all 0.33s ease-in;
  text-decoration: none;
}

.Navigation__link-anchor {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  position: relative;
}

.Navigation__active {
  color: #146f2e;
}

.Navigation__hasSubNavigation .Navigation__link-anchor::after {
  align-self: center;
  content: "+";
  display: flex;
  padding-left: 10px;
}

.Subnavigation__root {
  cursor: default;
  display: none;
  list-style: none;
  padding: 10px;
  text-align: center;
}

.Navigation__hasSubNavigation.Navigation__subNavOpen .Subnavigation__root {
  display: block;
}

.Subnavigation__link {
  padding: 5px 0;
}

.Navigation__link:hover .Navigation__link-anchor,
.Navigation__link-anchor:hover,
.Subnavigation__link:hover .Subnavigation__link-anchor,
.Subnavigation__link-anchor:hover,
.Subnavigation__active,
.Navigation__active {
  color: #146f2e;
}

.Navigation__link:hover .Navigation__link-anchor,
.Navigation__link-anchor:hover {
  color: #146f2e;
}

@media (min-width: 1000px) {
  .Navigation__links-container {
    display: flex;
    flex-grow: 1;
  }

  .Navigation__links {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px 0;
  }

  .Navigation__link {
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    padding: 0 10px;
    position: relative;
    width: auto;
  }

  .Navigation__link-anchor {
    padding: 0 5px;
  }

  .Navigation__link-anchor::before {
    background-color: #146f2e;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.33s ease-in-out;
    width: 0;
  }

  .Navigation__active::before {
    width: 100%;
  }

  .Subnavigation__root {
    background: #f7f7f7;
    padding: 20px;
    position: absolute;
    top: 100%;
    z-index: 1000;
  }

  .Subnavigation__link {
    padding: 0;
  }

  .Subnavigation__link-anchor {
    display: block;
    padding: 5px 0;
  }

  .Navigation__hasSubNavigation:hover .Subnavigation__root,
  .Subnavigation__root:hover {
    display: block;
  }

  .Navigation__link:hover .Navigation__link-anchor::before,
  .Navigation__link-anchor:hover::before {
    width: 100%;
  }
}
