.Chuppahs__image {
  height: 100%;
  min-height: 350px;
}

.Chuppahs__right {
  padding: 0 30px;
}

.Chuppahs__link {
  color: #146f2e;
  font-weight: 400;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .Chuppahs__image {
    min-height: auto;
  }
}

@media (min-width: 768px) {
  .Chuppahs__image {
    min-height: 450px;
  }
}
