.Home__heroImage {
  height: 100%;
}

.Home__mission__root {
  padding: 40px 0;
}

.Home__mission__heading,
.Home__love-letters__heading,
.Home__mission__paragraph {
  text-align: center;
}

.Home__mission__paragraph {
  margin: 0 auto;
  max-width: 700px;
}

.Home__love-letters__root {
  padding-bottom: 40px;
}

.Home__love-letters__grid {
  flex-grow: 0;
}

.Home__love-letters {
  font-size: 12px;
}

.Home__love-letters__paragraph {
  font-style: italic;
  margin: 0.5em 0;
}
